**/node_modules
**/.pnpm-store
.pnp.*
.npm/
npm-debug.log*
pnpm-debug.log*
yarn.lock
package-lock.json

**/dist
**/build
**/coverage
**/.generated
*.log

.git
.gitignore
.vscode
.idea
.cursor

**/Dockerfile
**/docker-compose*.yml

.env
.env.*
**/.env
**/.env.*

**/test
**/__tests__
**/*.spec.ts
**/*.test.ts

**/*.png
**/*.jpg
**/*.jpeg
**/*.gif
**/*.mp4
**/*.zip
